<wicket:panel>
    <table>
        <tr>
            <td width="206">
                <wicket:component name="scheduleDeskHeader" class="com.medigy.app.pbs.component.schedule.ScheduleDeskHeader"/>
                <wicket:component name="scheduleDeskAction" class="com.medigy.app.pbs.component.schedule.ScheduleDeskAction"/>
                <wicket:component name="scheduleDeskCalendar" class="com.medigy.app.pbs.component.schedule.ScheduleDeskCalendar"/>
                <wicket:component name="scheduleDeskFooter" class="com.medigy.app.pbs.component.schedule.ScheduleDeskFooter"/>
            </td>
        </tr>
    </table>
</wicket:panel>
