<wicket:panel>
    <table border="1" cellspacing="0" cellpadding="2" width="100%" align="center" bordercolor="#dadada" style="border-collapse:collapse;">
        <tr bgcolor="WhiteSmoke">
            <td colspan="3">
                <table border="0" cellspacing="1" cellpadding="1" width="100%" >
                    <tr>
                        <td align="center">5 Booked</td>
                    </tr>
                </table>
            </td>
        </tr>
        <wicket:component name="scheduleDeskHour" class="com.medigy.app.pbs.component.schedule.ScheduleDeskHour"/>
        <tr bgColor='White' onmouseover="bgColor='WhiteSmoke'" onmouseout="bgColor='White'">
            <td align="center" bgColor='lightgreen' width="25" valign="top">8</td>
            <td bgColor='WhiteSmoke' width="100%"> <br/>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b><a title="Click here for more details." style="color:blue" href=""></a></b> </td>
        </tr>
        <tr bgColor='White' onmouseover="bgColor='WhiteSmoke'" onmouseout="bgColor='White'">
            <td align="center" width="25" bgColor='lightgreen' valign="top">9</td>
            <td width="100%"> :15 <b><a title="Click here for more details." style="color:blue" href="">Smith, E</a></b><br/>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b><a title="Click here for more details." style="color:blue" href=""></a></b>  </td>
        </tr>
        <tr bgColor='White' onmouseover="bgColor='WhiteSmoke'" onmouseout="bgColor='White'">
            <td align="center" width="25" bgColor='lightgreen' valign="top">10</td>
            <td bgColor='WhiteSmoke' width="100%">:00 <b><a title="Click here for more details." style="color:blue" href="">Doty, H </a></b><br />
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b><a title="Click here for more details." style="color:blue" href=""></a></b><br />
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b><a title="Click here for more details." style="color:blue" href=""></a></b></td>
        </tr>
        <tr bgColor='White' onmouseover="bgColor='WhiteSmoke'" onmouseout="bgColor='White'">
            <td align="center" bgColor='pink' width="25" valign="top">11</td>
            <td width="100%"> :00 <b><a title="Click here for more details." style="color:blue" href="">Kline, B </a></b><br /> </td>
        </tr>
        <tr bgColor='White' onmouseover="bgColor='WhiteSmoke'" onmouseout="bgColor='White'">
            <td align="center" width="25" bgColor='pink' valign="top">12</td>
            <td bgColor='WhiteSmoke' width="100%">&nbsp;</td>
        </tr>
        <tr bgColor='White' onmouseover="bgColor='WhiteSmoke'" onmouseout="bgColor='White'">
            <td align="center" bgColor='lightgreen' width="25" valign="top">1</td>
            <td width="100%">:15 <b><a title="Click here for more details." style="color:blue" href="">Johnson, S </a></b><br /> </td>
        </tr>
        <tr bgColor='White' onmouseover="bgColor='WhiteSmoke'" onmouseout="bgColor='White'">
            <td align="center" bgColor='lightgreen' width="25" valign="top">2</td>
            <td bgColor='WhiteSmoke' width="100%">&nbsp;</td>
        </tr>
        <tr bgColor='White' onmouseover="bgColor='WhiteSmoke'" onmouseout="bgColor='White'">
            <td align="center" bgColor='lightgreen' width="25" valign="top">3</td>
            <td width="100%"> <br /> </td>
        </tr>
        <tr bgColor='White' onmouseover="bgColor='WhiteSmoke'" onmouseout="bgColor='White'">
            <td align="center" bgColor='WhiteSmoke' width="25" valign="top">4</td>
            <td bgColor='WhiteSmoke' width="100%"> <br /> </td>
        </tr>
        <tr bgcolor="WhiteSmoke">
            <td colspan="3"> <table border="0" cellspacing="1" cellpadding="1" width="100%">
                <tr>
                    <td align="center"><a title="Click here for more details." style="color:blue" href="">Add Template</a></td>
                </tr>
            </table></td>
        </tr>
    </table>
</wicket:panel>
