<wicket:panel>
    <table border="1" cellspacing="0" cellpadding="2" width="100%" align="center" bordercolor="#dadada" style="border-collapse:collapse;">
        <tr bgColor='White' onmouseover="bgColor='WhiteSmoke'" >
            <td align="center" bgColor='WhiteSmoke' width="15" valign="top">P</td>
            <td style="color:blue" width="181"> 07:30 AM - 04:00 PM<br /> </td>
        </tr>
    </table>
    <table border="1" cellspacing="0" cellpadding="2" width="100%" align="center" bordercolor="#dadada" style="border-collapse:collapse;">
        <tr bgColor='White' onmouseover="bgColor='WhiteSmoke'" onmouseout="bgColor='White'">
            <td align="center" bgColor='WhiteSmoke' width="25" valign="top">N</td>
            <td style="color:blue" width="100%"> 07:30 AM - 04:00 PM</td>
        </tr>
    </table>
</wicket:panel>
