<wicket:panel>
    <table width="100%" align="center" cellpadding="2" cellspacing="0" border="0" >
        <tr>
            <td align="center">
                <table cellpadding="2" cellspacing="0" border="0">
                    <tr>
                        <td align="center">
                            <select class="dropdown" name="cate">
                                <option value="0">Choose Action</option>
                            </select>
                        </td>
                        <td>&nbsp;</td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</wicket:panel>
