<wicket:panel>
    <SELECT ONCHANGE="if(this.selectedIndex > 0) window.location.href = '?bookmarkablePage=' + this.options[this.selectedIndex].value">
        <OPTION wicket:id="menuLabel">Add Record</OPTION>
        <OPTION VALUE="com.medigy.app.pbs.form.AppointmentPage">Appointment</OPTION>
        <OPTION VALUE="com.medigy.app.pbs.form.AppointmentTemplatePage">Schedule Template</OPTION>
        <OPTION VALUE="com.medigy.app.pbs.form.AppointmentTypePage">Appointment Type</OPTION>
    </SELECT>
</wicket:panel>
