<wicket:panel>
    <SELECT ONCHANGE="if(this.selectedIndex > 0) window.location.href = '?bookmarkablePage=' + this.options[this.selectedIndex].value">
        <OPTION>Add Record</OPTION>
        <OPTION VALUE="com.medigy.app.pbs.page.NotImplemented">Claim</OPTION>
        <OPTION VALUE="com.medigy.app.pbs.page.NotImplemented">Fee Schedule</OPTION>
        <OPTION VALUE="com.medigy.app.pbs.page.NotImplemented">Fee Schedule Item</OPTION>
        <OPTION VALUE="com.medigy.app.pbs.form.InsuranceProductPage">Insurance Product</OPTION>
        <OPTION VALUE="com.medigy.app.pbs.form.InsurancePlanPage">Insurance Plan</OPTION>
    </SELECT>
</wicket:panel>
