<wicket:panel>
    <SELECT ONCHANGE="if(this.selectedIndex > 0) window.location.href = '?bookmarkablePage=' + this.options[this.selectedIndex].value">
        <OPTION wicket:id="menuLabel">Add Record</OPTION>
        <OPTION VALUE="com.medigy.app.pbs.page.NotImplemented">Department</OPTION>
        <OPTION VALUE="com.medigy.app.pbs.page.NotImplemented">Associated Provider</OPTION>
        <OPTION VALUE="com.medigy.app.pbs.page.NotImplemented">Employer</OPTION>
        <OPTION VALUE="com.medigy.app.pbs.page.NotImplemented">Insurance</OPTION>
        <OPTION VALUE="com.medigy.app.pbs.page.NotImplemented">IPA</OPTION>
    </SELECT>
</wicket:panel>
