<wicket:panel>
    <SELECT ONCHANGE="if(this.selectedIndex > 0) window.location.href = '?bookmarkablePage=' + this.options[this.selectedIndex].value">
        <OPTION wicket:id="menuLabel">Add Record</OPTION>
        <OPTION VALUE="com.medigy.app.pbs.page.PatientRegistrationPage">Patient</OPTION>
        <OPTION VALUE="com.medigy.app.pbs.form.PhysicianRegistrationPage">Physician</OPTION>
        <OPTION VALUE="com.medigy.app.pbs.form.NurseRegistrationPage">Nurse</OPTION>
        <OPTION VALUE="com.medigy.app.pbs.form.StaffRegistrationPage">Staff Member</OPTION>
    </SELECT>
</wicket:panel>
