<wicket:panel>
    <SELECT ONCHANGE="if(this.selectedIndex > 0) window.location.href = '?bookmarkablePage=' + this.options[this.selectedIndex].value">
        <OPTION _wicket:id="menuLabel">Add Record</OPTION>
        <OPTION VALUE="com.medigy.app.pbs.page.RegisterPatient">Patient</OPTION>
        <OPTION VALUE="com.medigy.app.pbs.page.NotImplemented">Physician</OPTION>
        <OPTION VALUE="com.medigy.app.pbs.page.NotImplemented">Nurse</OPTION>
        <OPTION VALUE="com.medigy.app.pbs.page.NotImplemented">Staff Member</OPTION>
    </SELECT>
</wicket:panel>
