<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <!--mapping package="com.medigy.persist.reference"/-->
        <mapping class="com.medigy.persist.reference.ModelVersion"/>

        <!--mapping package="com.medigy.persist.reference.type"/-->
        <mapping class="com.medigy.persist.reference.type.ContactMechanismType"/>
        <mapping class="com.medigy.persist.reference.type.DataEncryptionType"/>
        <mapping class="com.medigy.persist.reference.type.GenderType"/>
        <mapping class="com.medigy.persist.reference.type.BloodType"/>
        <mapping class="com.medigy.persist.reference.type.LanguageType"/>
        <mapping class="com.medigy.persist.reference.type.MaritalStatusType"/>
        <mapping class="com.medigy.persist.reference.type.PriorityType"/>
        <mapping class="com.medigy.persist.reference.type.UnitOfMeasureType"/>
        <mapping class="com.medigy.persist.reference.type.insurance.CPT"/>
        <mapping class="com.medigy.persist.reference.type.insurance.HCPCS"/>
        <mapping class="com.medigy.persist.reference.type.insurance.IcdAge"/>
        <mapping class="com.medigy.persist.reference.type.insurance.Icd"/>

        <!--mapping package="com.medigy.persist.reference.type.party"/-->
        <mapping class="com.medigy.persist.reference.type.party.PartyFacilityRoleType"/>
        <mapping class="com.medigy.persist.reference.type.party.PartyType"/>

        <mapping class="com.medigy.persist.reference.custom.attribute.EntityAttributeType"/>
		<mapping class="com.medigy.persist.reference.custom.GeographicBoundaryType"/>
        <!--mapping package="com.medigy.persist.reference.custom.claim"/-->
        <mapping class="com.medigy.persist.reference.custom.claim.ClaimRoleType"/>
        <mapping class="com.medigy.persist.reference.custom.claim.ClaimServiceCodeType"/>
        <mapping class="com.medigy.persist.reference.custom.claim.ClaimStatusType"/>
        <mapping class="com.medigy.persist.reference.custom.claim.ClaimType"/>

        <!--mapping package="com.medigy.persist.reference.custom.health"/-->
        <mapping class="com.medigy.persist.reference.custom.health.DiagnosisType"/>
        <mapping class="com.medigy.persist.reference.custom.health.EpisodeType"/>
        <mapping class="com.medigy.persist.reference.custom.health.HealthCareDeliveryRoleType"/>
        <mapping class="com.medigy.persist.reference.custom.health.HealthCareOfferingType"/>
        <mapping class="com.medigy.persist.reference.custom.health.HealthCareVisitRoleType"/>
        <mapping class="com.medigy.persist.reference.custom.health.HealthCareVisitStatusType"/>
        <mapping class="com.medigy.persist.reference.custom.health.OutcomeType"/>
        <mapping class="com.medigy.persist.reference.custom.health.SymptomType"/>
        <mapping class="com.medigy.persist.reference.custom.health.HealthCareLicenseType"/>
        <mapping class="com.medigy.persist.reference.custom.health.HealthCareReferralType"/>
        <mapping class="com.medigy.persist.reference.custom.health.HealthCareDeliveryType"/>
        <mapping class="com.medigy.persist.reference.custom.health.VisitDuration"/>

        <!--mapping package="com.medigy.persist.reference.custom.product"/-->
        <mapping class="com.medigy.persist.reference.custom.product.ProductType"/>

        <!--mapping package="com.medigy.persist.reference.custom.insurance"/-->
        <mapping class="com.medigy.persist.reference.custom.insurance.CoverageType"/>
        <mapping class="com.medigy.persist.reference.custom.insurance.CoverageLevelType"/>
        <mapping class="com.medigy.persist.reference.custom.insurance.CoverageLevelBasisType"/>
        <mapping class="com.medigy.persist.reference.custom.insurance.InsurancePolicyRoleType"/>
        <mapping class="com.medigy.persist.reference.custom.insurance.InsurancePolicyType"/>
        <mapping class="com.medigy.persist.reference.custom.insurance.InsuranceProductType"/>
        <mapping class="com.medigy.persist.reference.custom.insurance.InsurancePlanAttributeType"/>
        <mapping class="com.medigy.persist.reference.custom.insurance.FeeScheduleItemType"/>
        <mapping class="com.medigy.persist.reference.custom.insurance.FeeScheduleItemCostType"/>
        <!--mapping package="com.medigy.persist.reference.custom.invoice"/-->
        <mapping class="com.medigy.persist.reference.custom.invoice.BillingAccountRoleType"/>
        <mapping class="com.medigy.persist.reference.custom.invoice.InvoiceItemType"/>
        <mapping class="com.medigy.persist.reference.custom.invoice.InvoiceRoleType"/>
        <mapping class="com.medigy.persist.reference.custom.invoice.InvoiceStatusType"/>
        <mapping class="com.medigy.persist.reference.custom.invoice.InvoiceTermType"/>
        <mapping class="com.medigy.persist.reference.custom.invoice.PaymentMethodType"/>
        <mapping class="com.medigy.persist.reference.custom.invoice.PaymentType"/>
        <mapping class="com.medigy.persist.reference.custom.invoice.BillRemittanceType"/>
        <mapping class="com.medigy.persist.reference.custom.invoice.BillSequenceType"/>
        <mapping class="com.medigy.persist.reference.custom.invoice.InvoiceType"/>

        <!--mapping package="com.medigy.persist.reference.custom.party"/-->
        <mapping class="com.medigy.persist.reference.custom.party.PartyRoleType"/>
        <mapping class="com.medigy.persist.reference.custom.party.AgreementType"/>
        <mapping class="com.medigy.persist.reference.custom.party.CaseRoleType"/>
        <mapping class="com.medigy.persist.reference.custom.party.CommunicationEventPurposeType"/>
        <mapping class="com.medigy.persist.reference.custom.party.CommunicationEventRoleType"/>
        <mapping class="com.medigy.persist.reference.custom.party.ContactMechanismPurposeType"/>
        <mapping class="com.medigy.persist.reference.custom.party.EmploymentAgreementRoleType"/>
        <mapping class="com.medigy.persist.reference.custom.party.FacilityType"/>
        <mapping class="com.medigy.persist.reference.custom.party.OrganizationRoleType"/>
        <mapping class="com.medigy.persist.reference.custom.party.PartyIdentifierType"/>
        <mapping class="com.medigy.persist.reference.custom.party.PartyQualificationType"/>
        <mapping class="com.medigy.persist.reference.custom.party.PartyRelationshipType"/>
        <mapping class="com.medigy.persist.reference.custom.party.PartyClassificationType"/>

        <!--mapping package="com.medigy.persist.reference.custom.person"/-->
        <mapping class="com.medigy.persist.reference.custom.person.EthnicityType"/>
        <mapping class="com.medigy.persist.reference.custom.person.IncidentType"/>
        <mapping class="com.medigy.persist.reference.custom.person.MedicalConditionType"/>
        <mapping class="com.medigy.persist.reference.custom.person.PersonIdentifierType"/>
        <mapping class="com.medigy.persist.reference.custom.person.PersonRoleType"/>
        <mapping class="com.medigy.persist.reference.custom.person.PhysicalCharacteristicType"/>
        <mapping class="com.medigy.persist.reference.custom.person.PatientResponsiblePartyRoleType"/>
        <mapping class="com.medigy.persist.reference.custom.person.PersonClassificationType"/>
        <mapping class="com.medigy.persist.reference.custom.person.PatientType"/>

        <!--mapping package="com.medigy.persist.reference.custom.org"/-->
        <mapping class="com.medigy.persist.reference.custom.org.OrganizationClassificationType"/>
        
        <!--mapping package="com.medigy.persist.model.party"/-->
        <!--mapping class="com.medigy.persist.model.party.Case"/
 -->
        <mapping class="com.medigy.persist.model.invoice.attribute.InvoiceAttribute"/>
        <mapping class="com.medigy.persist.model.invoice.attribute.InvoiceStringAttribute"/>
        <mapping class="com.medigy.persist.model.invoice.attribute.InvoiceLongAttribute"/>
        <mapping class="com.medigy.persist.model.invoice.attribute.InvoiceBooleanAttribute"/>
        <mapping class="com.medigy.persist.model.invoice.attribute.InvoiceDateAttribute"/>
        <mapping class="com.medigy.persist.model.invoice.attribute.InvoiceDurationAttribute"/>

        <!--mapping class="com.medigy.persist.model.party.CaseRole"/-->
        <mapping class="com.medigy.persist.model.party.CommunicationEvent"/>
        <mapping class="com.medigy.persist.model.party.CommunicationEventPurpose"/>
        <mapping class="com.medigy.persist.model.party.CommunicationEventRole"/>
        <mapping class="com.medigy.persist.model.party.CommunicationEventWork"/>
        <mapping class="com.medigy.persist.model.party.ContactMechanism"/>
        <mapping class="com.medigy.persist.model.party.ElectronicAddress"/>
        <mapping class="com.medigy.persist.model.party.EmploymentAgreement"/>
        <mapping class="com.medigy.persist.model.party.EmploymentAgreementItem"/>
        <mapping class="com.medigy.persist.model.party.EmploymentAgreementRole"/>
        <mapping class="com.medigy.persist.model.party.Facility"/>
        <mapping class="com.medigy.persist.model.party.Party"/>
        <mapping class="com.medigy.persist.model.party.PartyClassification"/>
        <mapping class="com.medigy.persist.model.party.PartyContactMechanism"/>
        <mapping class="com.medigy.persist.model.party.PartyContactMechanismPurpose"/>
        <mapping class="com.medigy.persist.model.party.PartyFacilityRole"/>
        <mapping class="com.medigy.persist.model.party.PartyIdentifier"/>
        <mapping class="com.medigy.persist.model.party.PartyQualification"/>
        <mapping class="com.medigy.persist.model.party.PartyRelationship"/>
        <!--mapping class="com.medigy.persist.model.party.PartyRelationshipStatus"/-->
        <mapping class="com.medigy.persist.model.party.PartyRole"/>
        <mapping class="com.medigy.persist.model.party.PhoneNumber"/>
        <mapping class="com.medigy.persist.model.party.PostalAddress"/>
        <mapping class="com.medigy.persist.model.party.PostalAddressBoundary"/>
        <mapping class="com.medigy.persist.model.party.ValidContactMechanismRole"/>
        <mapping class="com.medigy.persist.model.party.ValidPartyRelationshipRole"/>
        <mapping class="com.medigy.persist.model.party.ValidResponsiblePartyRole"/>

        <!--mapping package="com.medigy.persist.model.claim"/-->
        <mapping class="com.medigy.persist.model.claim.Claim"/>
        <mapping class="com.medigy.persist.model.claim.ClaimItem"/>
        <mapping class="com.medigy.persist.model.claim.ClaimItemDiagnosisCode"/>
        <mapping class="com.medigy.persist.model.claim.ClaimResubmission"/>
        <mapping class="com.medigy.persist.model.claim.ClaimRole"/>
        <mapping class="com.medigy.persist.model.claim.ClaimServiceCode"/>
        <mapping class="com.medigy.persist.model.claim.ClaimSettlement"/>
        <mapping class="com.medigy.persist.model.claim.ClaimSettlementAmount"/>
        <mapping class="com.medigy.persist.model.claim.ClaimStatus"/>

        <!--mapping package="com.medigy.persist.model.common"/-->
        <mapping class="com.medigy.persist.model.contact.GeographicBoundary"/>
        <mapping class="com.medigy.persist.model.contact.City"/>
        <mapping class="com.medigy.persist.model.contact.County"/>
        <mapping class="com.medigy.persist.model.contact.State"/>
        <mapping class="com.medigy.persist.model.contact.Province"/>
        <mapping class="com.medigy.persist.model.contact.PostalCode"/>
        <mapping class="com.medigy.persist.model.contact.Country"/>
        <!--mapping class="com.medigy.persist.model.contact.GeographicBoundaryAssociation"/-->

        <!--mapping package="com.medigy.persist.model.health"/-->
        <mapping class="com.medigy.persist.model.health.DeliveryOutcome"/>
        <mapping class="com.medigy.persist.model.health.Diagnosis"/>
        <mapping class="com.medigy.persist.model.health.DiagnosisRelatedGroup"/>
        <mapping class="com.medigy.persist.model.health.DiagnosisRelatedGroupClassification"/>
        <mapping class="com.medigy.persist.model.health.DiagnosisTreatment"/>
        <mapping class="com.medigy.persist.model.health.EpisodeOutcome"/>
        <mapping class="com.medigy.persist.model.health.HealthCareDelivery"/>
        <mapping class="com.medigy.persist.model.health.HealthCareDeliveryAssociation"/>
        <mapping class="com.medigy.persist.model.health.HealthCareDeliveryBilling"/>
        <mapping class="com.medigy.persist.model.health.HealthCareDeliveryClaimSubmission"/>
        <mapping class="com.medigy.persist.model.health.HealthCareDeliveryRole"/>
        <mapping class="com.medigy.persist.model.health.HealthCareEpisode"/>
        <mapping class="com.medigy.persist.model.health.HealthCareOffering"/>
        <mapping class="com.medigy.persist.model.health.HealthCareVisit"/>
        <mapping class="com.medigy.persist.model.health.HealthCareVisitRole"/>
        <mapping class="com.medigy.persist.model.health.HealthCareVisitStatus"/>
        <mapping class="com.medigy.persist.model.health.PractitionerDiagnosis"/>
        <mapping class="com.medigy.persist.model.health.ProviderOffering"/>
        <mapping class="com.medigy.persist.model.health.Symptom"/>
        <mapping class="com.medigy.persist.model.health.VisitReason"/>
        <mapping class="com.medigy.persist.model.health.HealthCareLicense"/>
        <mapping class="com.medigy.persist.model.health.HealthCareReferral"/>
        <mapping class="com.medigy.persist.model.health.VisitType"/>
        <mapping class="com.medigy.persist.model.health.PersonVisitType"/>

        <!--mapping package="com.medigy.persist.model.product"/-->
        <!--mapping class="com.medigy.persist.model.product.Product"/>
        <mapping class="com.medigy.persist.model.product.ProductCategory"/>
        <mapping class="com.medigy.persist.model.product.ProductFeature"/-->

        <!--mapping package="com.medigy.persist.model.invoice"/-->
        <mapping class="com.medigy.persist.model.invoice.BillingAccount"/>
        <mapping class="com.medigy.persist.model.invoice.BillingAccountRole"/>
        <mapping class="com.medigy.persist.model.invoice.Invoice"/>
        <mapping class="com.medigy.persist.model.invoice.InvoiceItem"/>
        <mapping class="com.medigy.persist.model.invoice.InvoiceRole"/>
        <mapping class="com.medigy.persist.model.invoice.InvoiceStatus"/>
        <mapping class="com.medigy.persist.model.invoice.InvoiceTerm"/>
        <mapping class="com.medigy.persist.model.invoice.Payment"/>
        <mapping class="com.medigy.persist.model.invoice.PaymentApplication"/>

        <!--mapping package="com.medigy.persist.model.org"/-->
        <mapping class="com.medigy.persist.model.org.Organization"/>
        <mapping class="com.medigy.persist.model.org.attribute.OrganizationAttribute"/>
        <mapping class="com.medigy.persist.model.org.attribute.OrganizationStringAttribute"/>
        <mapping class="com.medigy.persist.model.org.attribute.OrganizationLongAttribute"/>
        <mapping class="com.medigy.persist.model.org.attribute.OrganizationBooleanAttribute"/>
        <mapping class="com.medigy.persist.model.org.attribute.OrganizationDateAttribute"/>
        <mapping class="com.medigy.persist.model.org.attribute.OrganizationDurationAttribute"/>

        <!--mapping package="com.medigy.persist.model.person"/-->
        <mapping class="com.medigy.persist.model.person.Person"/>
        <mapping class="com.medigy.persist.model.person.User"/>
        <mapping class="com.medigy.persist.model.person.Ethnicity"/>
        <mapping class="com.medigy.persist.model.person.Gender"/>
        <mapping class="com.medigy.persist.model.health.Incident"/>
        <mapping class="com.medigy.persist.model.health.IncidentGeographicBoundary"/>
        <mapping class="com.medigy.persist.model.person.Language"/>
        <mapping class="com.medigy.persist.model.person.MaritalStatus"/>
        <mapping class="com.medigy.persist.model.person.PatientMedicalCondition"/>
        <mapping class="com.medigy.persist.model.person.PhysicalCharacteristic"/>

        <!--mapping package="com.medigy.persist.model.insurance"/-->
        <mapping class="com.medigy.persist.model.insurance.CareProviderSelection"/>
        <mapping class="com.medigy.persist.model.insurance.FinancialResponsiblePartySelection"/>
        <mapping class="com.medigy.persist.model.insurance.Coverage"/>
        <mapping class="com.medigy.persist.model.insurance.CoverageLevel"/>
        <mapping class="com.medigy.persist.model.insurance.CoverageLevelBasis"/>
        <mapping class="com.medigy.persist.model.insurance.Enrollment"/>
        <mapping class="com.medigy.persist.model.insurance.EnrollmentElection"/>
        <mapping class="com.medigy.persist.model.insurance.InsurancePolicy"/>
        <!--mapping class="com.medigy.persist.model.insurance.InsurancePolicyItem"/-->
        <!--mapping class="com.medigy.persist.model.insurance.InsurancePolicyRole"/-->
        <mapping class="com.medigy.persist.model.insurance.InsuranceProduct"/>
        <mapping class="com.medigy.persist.model.insurance.InsuranceProductContactMechanism"/>
        <mapping class="com.medigy.persist.model.insurance.InsuranceProductContactMechanismPurpose"/>    
        <mapping class="com.medigy.persist.model.insurance.InsurancePlan"/>
        <mapping class="com.medigy.persist.model.insurance.InsurancePlanAttribute"/>
        <mapping class="com.medigy.persist.model.insurance.InsurancePlanContactMechanism"/>
        <mapping class="com.medigy.persist.model.insurance.InsurancePlanContactMechanismPurpose"/>
        <mapping class="com.medigy.persist.model.insurance.InsuranceProductCoverage"/>
        <mapping class="com.medigy.persist.model.insurance.InsurancePlanCoverage"/>
        <mapping class="com.medigy.persist.model.insurance.InsurancePolicyCoverage"/>
        <mapping class="com.medigy.persist.model.insurance.InsuranceProductCoverageLevel"/>
        <mapping class="com.medigy.persist.model.insurance.InsurancePlanCoverageLevel"/>
        <mapping class="com.medigy.persist.model.insurance.InsurancePolicyCoverageLevel"/>
        <mapping class="com.medigy.persist.model.insurance.FeeSchedule"/>
        <mapping class="com.medigy.persist.model.insurance.FeeScheduleItem"/>

        <!--mapping package="com.medigy.persist.model.session"/-->
        <mapping class="com.medigy.persist.model.session.Session"/>
        <mapping class="com.medigy.persist.model.session.EndUserSession"/>
        <mapping class="com.medigy.persist.model.session.ProcessSession"/>

        <!--mapping package="com.medigy.persist.model.work"/-->
        <mapping class="com.medigy.persist.model.work.WorkEffort"/>

        <listener type="pre-update" class="org.hibernate.validator.event.ValidatePreUpdateEventListener"/>
        <listener type="pre-insert" class="org.hibernate.validator.event.ValidatePreInsertEventListener"/>
        
    </session-factory>
</hibernate-configuration>