<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
    <!-- IMPORTANT: Beans are deployed in singleton mode by default, unless you specify otherwise. -->
    <bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
    </bean>

    <bean id="testDataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
        <property name="driverClassName">
            <value>com.mysql.jdbc.Driver</value>
        </property>
        <property name="url">
            <value>jdbc:mysql://localhost:3306/medigy</value>
        </property>
        <property name="username">
            <value>medigy</value>
        </property>
        <property name="password">
            <value>medigy</value>
        </property>
        <!--property name="defaultAutoCommit"><value>false</value></property-->
    </bean>

    <import resource="menuContext.xml"/>

    <bean id="hibernateSessionFactory" class="com.medigy.service.util.ModelSessionFactoryBean" lazy-init="true">
        <property name="configLocation"> <value>classpath:com/medigy/persist/hibernate.cfg.xml</value> </property>
        <property name="configurationClass"><value>com.medigy.persist.util.HibernateConfiguration</value></property>
        <property name="dataSource"> <ref bean="testDataSource"/> </property>
        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.dialect">org.hibernate.dialect.MySQLInnoDBDialect</prop>
                <!--prop key="hibernate.connection.driver_class">com.mysql.jdbc.Driver</prop>
                <prop key="hibernate.connection.url">jdbc:mysql://localhost:3306/medigy</prop>
                <prop key="hibernate.connection.userName">medigy</prop>
                <prop key="hibernate.connection.password">medigy</prop-->
                <!--prop key="hibernate.hbm2ddl.auto">create-drop</prop-->
                <prop key="hibernate.show_sql">false</prop>
            </props>
        </property>
    </bean>

    <bean id="hibernateTransactionManager" class="org.springframework.orm.hibernate3.HibernateTransactionManager" lazy-init="true">
        <property name="sessionFactory"> <ref bean="hibernateSessionFactory"/> </property>
    </bean>

    <bean id="facadeHibernateInterceptor" class="org.springframework.orm.hibernate3.HibernateInterceptor" lazy-init="true">
        <property name="sessionFactory"> <ref bean="hibernateSessionFactory"/> </property>
    </bean>

</beans>